@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer theme, base, components, utilities;

@layer base {
    :root {
        --font: "Outfit", sans-serif;

        --primary: #22c55e;
        --primary-hover: #16a34a;

        --app-bg: #f5f7fa;
        --card-bg: #ffffff;

        --text-primary: #111827;
        --text-secondary: #4b5563;

        --border-default: #e5e7eb;

        --input-default: #ffffff;

        body {
            font-family: var(--font);
        }
    }

    .dark {
        --app-bg: #101922;
        --card-bg: #1a2633;

        --text-primary: #f9fafb;
        --text-secondary: #9ca3af;

        --border-default: #2b3a4a;

        --input-default: #233648;
    }
}

@layer utilities {
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-8px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes shrink {
        from {
            width: 100%;
        }
        to {
            width: 0%;
        }
    }
}
